.styled-table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #dcdcdc;
  color: #000000;
}

.styled-table th,
.styled-table td {
  text-align: center;
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.progress {
  height: 125%;
  width: 75%;
  margin-top: 0px;
}

.center-vertical {
  align-items: center;
  /* align vertical */
}

.center-horizontal {
  justify-content: center;
  /* align horizontal */
  text-align: center;
}

.center-horizontal-table {
  margin: 0 auto;
}

.left-aligned {
  justify-content: left;
  /* align horizontal */
  text-align: left;
}

.right-aligned {
  text-align: right;
  /* align horizontal */
}

.bottom-half {
  padding-bottom: 0.5cm;
}

.bottom-three {
  margin-bottom: 2cm;
}

.container-fluid {
  display: flex;
  /* or inline-flex */
}

.slider .tooltip.in {
  opacity: 1;
}

.slider .tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.slider .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.slider .tooltip.top {
  padding: 5px 0;
}

.image-slider-filter {
  width: 90%;
}

#imagemodal-slider-filter {
  width: 90%;
}

#reset {
  display: inline-block;
  height: 2.5rem;
  background-color: #22A7F0;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  color: #fff;
  margin: 0 1px 1px 1px;
}

#reset:hover {
  color: #22A7F0;
  background-color: #fff;
  border: 2px solid #22A7F0;
}

#reset-modal {
  display: inline-block;
  height: 2.5rem;
  background-color: #22A7F0;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  color: #fff;
  margin: 0 1px 1px 1px;
}

#reset-modal:hover {
  color: #22A7F0;
  background-color: #fff;
  border: 2px solid #22A7F0;
}

.tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.card {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
  border: 2px;
}


.normal-cell {
  height: 42px;
  text-align: center;
  padding-left: 1%;
}

.probability-row {
  height: 12px;
}

.probability-cell {
  min-width: 5px;
  height: 13px;
  text-align: center;
  background-color: #c0c0c0;
  border-color: #ffffff;
  border-style: solid;
}

.input-group,
input.form-range,
select.form-range,
textarea.form-range {
  max-width: 50000px;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.form-range {
  -webkit-appearance: none;
  padding: 0;
  width: 50%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}


.size-main-image {
  /* position: fixed; /* Make it stick, even on scroll */
  overflow-x: hidden;
  overflow-y: hidden;
}

.row {
  display: flex;
}

.slider-image {
  overflow: hidden;
  background-color: #034A8BB0;
  -webkit-appearance: none;
}


html,
body {
  margin: 0;
  padding: 0;
}


.probability-range {
  height: 27px;
  -webkit-appearance: none;
  margin: 0 0;
}

.probability-range:focus {
  outline: none;
}

.probability-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 21px;
  cursor: pointer;
  box-shadow: 0px 0px 3px #000000;
  background: #FFFFFF;
  border-radius: 0px;
  border: 1px solid #000000;
}

.probability-range::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #FFFFFF;
  border: 1px solid #000000;
  height: 20px;
  width: 16px;
  border-radius: 2px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.5px;
}

.probability-range:focus::-webkit-slider-runnable-track {
  background: #FFFFFF;
}

.probability-range::-moz-range-track {
  width: 100%;
  height: 21px;
  cursor: pointer;
  box-shadow: 0px 0px 3px #000000;
  background: #FFFFFF;
  border-radius: 0px;
  border: 1px solid #000000;
}

.probability-range::-moz-range-thumb {
  box-shadow: 0px 0px 1px #FFFFFF;
  border: 1px solid #000000;
  height: 20px;
  width: 16px;
  border-radius: 2px;
  background: #000000;
  cursor: pointer;
}

.probability-range::-ms-track {
  width: 100%;
  height: 21px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.probability-range::-ms-fill-lower {
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 3px #000000;
}

.probability-range::-ms-fill-upper {
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 3px #000000;
}

.probability-range::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 1px #FFFFFF;
  border: 1px solid #000000;
  height: 20px;
  width: 16px;
  border-radius: 2px;
  background: #000000;
  cursor: pointer;
}

.probability-range:focus::-ms-fill-lower {
  background: #FFFFFF;
}

.probability-range:focus::-ms-fill-upper {
  background: #FFFFFF;
}

.image-slider {
  height: 25px;
  -webkit-appearance: none;
  margin: auto;
  width: 90%;
}

.image-slider:focus {
  outline: none;
}

.image-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}

.image-slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 9px;
  border-radius: 0px;
  background: #0F0F0F;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

.image-slider:focus::-webkit-slider-runnable-track {
  background: #2497E3;
}

.image-slider::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}

.image-slider::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 14px;
  border-radius: 0px;
  background: #0F0F0F;
  cursor: pointer;
}

.image-slider::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.image-slider::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

.image-slider::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

.image-slider::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 14px;
  border-radius: 0px;
  background: #0F0F0F;
  cursor: pointer;
}

.image-slider:focus::-ms-fill-lower {
  background: #2497E3;
}

.image-slider:focus::-ms-fill-upper {
  background: #2497E3;
}

/* navbar */
.navbar {
  color: blue;
}

ul {
  list-style-type: none;
  /* /* margin: 0;
  padding: 0;
  height:100%; */
  /* position: fixed; Make it stick, even on scroll */
  /* overflow: auto; Enable scrolling if the sidenav has too much content
  background-color: white; */
}

li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: rgba(255, 252, 96, 0.897);
}

.answer-col {
  overflow-y: auto;
}

.image-col {
  overflow-y: auto;
}

.navbar-col {
  overflow-y: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  /* remove extra space below image */
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.fa-gem {
  color: black;
}

.fa-exclamation {
  color: black;
}