<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Start study</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/stylesheet.css' %}" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>

<body
    style="display:flex; flex-direction: column; justify-content:center; width: 99vw; min-height: 90vh; align-items: center">
    <div style='width:70%; text-align: center;'>
        <h5> The instructions are over, but you will still be able to access them throughout the survey. <br>
            You can now start the assessments.
        </h5>
    </div>
    <form id='all_is_ok' method='POST'>
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value='Start the assessments'>
    </form>

</body>

</html>