<!DOCTYPE html>
<html lang="en">

<head>
  <title>End of survey</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" type="text/css" href="/static/myapp/instructionformat.css">
</head>

<body>

  <div class="jumbotron text-center">
    <h1>End of stage survey</h1>
  </div>

  <div class="container">
    <div class="row">
      <p>Please indicate your agreement with the following statements and respond to any questions based on your
        experiences.
        Statements marked with <span style="color:red">*</span> require a response.</p>
    </div>
    <div class="row">

      <div id="questiontext-2">
        <div class='top-one'>
          <h5><span class="border border-light bg-light text-dark">&ensp;Workload&ensp;</span></h5>
        </div>
        <p><b>Working with the AI diagnostic tool was mentally demanding.<span style="color:red">*</span></b></p>
        <table class="table table-hover table-borderless table-sm">
          <tbody>
            <tr>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="workload-demanding"
                  id="workload-demanding-Strongly Agree" form="submit-info" value="Strongly Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Strongly Agree</label>
              </td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="workload-demanding"
                  id="workload-demanding-Agree" form="submit-info" value="Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Agree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="workload-demanding"
                  id="workload-demanding-Somewhat Agree" form="submit-info" value="Somewhat Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Somewhat Agree</label>
              </td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="workload-demanding"
                  id="workload-demanding-Neutral" form="submit-info" value="Neutral" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Neutral</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="workload-demanding"
                  id="workload-demanding-Somewhat Disagree" form="submit-info" value="Somewhat Disagree"
                  required=""><label class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Somewhat Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="workload-demanding"
                  id="workload-demanding-Disagree" form="submit-info" value="Disagree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="workload-demanding"
                  id="workload-demanding-Strongly Disagree" form="submit-info" value="Strongly Disagree"
                  required=""><label class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Strongly Disagree</label></td>
            </tr>
          </tbody>
        </table>
        <p><b>Working with the AI diagnostic tool was frustrating.<span style="color:red">*</span></b></p>
        <table class="table table-hover table-borderless table-sm">
          <tbody>
            <tr>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="workload-frustrating"
                  id="workload-frustrating-Strongly Agree" form="submit-info" value="Strongly Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Strongly Agree</label>
              </td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="workload-frustrating"
                  id="workload-frustrating-Agree" form="submit-info" value="Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Agree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="workload-frustrating"
                  id="workload-frustrating-Somewhat Agree" form="submit-info" value="Somewhat Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Somewhat Agree</label>
              </td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="workload-frustrating"
                  id="workload-frustrating-Neutral" form="submit-info" value="Neutral" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Neutral</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="workload-frustrating"
                  id="workload-frustrating-Somewhat Disagree" form="submit-info" value="Somewhat Disagree"
                  required=""><label class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Somewhat Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="workload-frustrating"
                  id="workload-frustrating-Disagree" form="submit-info" value="Disagree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="workload-frustrating"
                  id="workload-frustrating-Strongly Disagree" form="submit-info" value="Strongly Disagree"
                  required=""><label class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Strongly Disagree</label></td>
            </tr>
          </tbody>
        </table>
        <div class='top-one'>
          <h5><span class="border border-light bg-light text-dark">&ensp;Confidence&ensp;</span></h5>
        </div>
        <p><b>Seeing the AI diagnostic tool's recommendations increased my confidence in my diagnoses.<span
              style="color:red">*</span></b></p>
        <table class="table table-hover table-borderless table-sm">
          <tbody>
            <tr>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="confidence-increase"
                  id="confidence-increase-Strongly Agree" form="submit-info" value="Strongly Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Strongly Agree</label>
              </td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="confidence-increase"
                  id="confidence-increase-Agree" form="submit-info" value="Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Agree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="confidence-increase"
                  id="confidence-increase-Somewhat Agree" form="submit-info" value="Somewhat Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Somewhat Agree</label>
              </td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="confidence-increase"
                  id="confidence-increase-Neutral" form="submit-info" value="Neutral" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Neutral</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="confidence-increase"
                  id="confidence-increase-Somewhat Disagree" form="submit-info" value="Somewhat Disagree"
                  required=""><label class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Somewhat Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="confidence-increase"
                  id="confidence-increase-Disagree" form="submit-info" value="Disagree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="confidence-increase"
                  id="confidence-increase-Strongly Disagree" form="submit-info" value="Strongly Disagree"
                  required=""><label class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Strongly Disagree</label></td>
            </tr>
          </tbody>
        </table>
        <div class='top-one'>
          <h5><span class="border border-light bg-light text-dark">&ensp;Usefulness&ensp;</span></h5>
        </div>
        <p><b>Using the AI diagnostic tool helped me accomplish tasks more quickly.<span style="color:red">*</span></b>
        </p>
        <table class="table table-hover table-borderless table-sm">
          <tbody>
            <tr>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-quickly"
                  id="usefulness-quickly-Strongly Agree" form="submit-info" value="Strongly Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Strongly Agree</label>
              </td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-quickly"
                  id="usefulness-quickly-Agree" form="submit-info" value="Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Agree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-quickly"
                  id="usefulness-quickly-Somewhat Agree" form="submit-info" value="Somewhat Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Somewhat Agree</label>
              </td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-quickly"
                  id="usefulness-quickly-Neutral" form="submit-info" value="Neutral" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Neutral</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-quickly"
                  id="usefulness-quickly-Somewhat Disagree" form="submit-info" value="Somewhat Disagree"
                  required=""><label class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Somewhat Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-quickly"
                  id="usefulness-quickly-Disagree" form="submit-info" value="Disagree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-quickly"
                  id="usefulness-quickly-Strongly Disagree" form="submit-info" value="Strongly Disagree"
                  required=""><label class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Strongly Disagree</label></td>
            </tr>
          </tbody>
        </table>
        <p><b>Using the AI diagnostic tool helped me accomplish tasks more accurately.<span
              style="color:red">*</span></b></p>
        <table class="table table-hover table-borderless table-sm">
          <tbody>
            <tr>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-accuracy"
                  id="usefulness-accuracy-Strongly Agree" form="submit-info" value="Strongly Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Strongly Agree</label>
              </td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-accuracy"
                  id="usefulness-accuracy-Agree" form="submit-info" value="Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Agree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-accuracy"
                  id="usefulness-accuracy-Somewhat Agree" form="submit-info" value="Somewhat Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Somewhat Agree</label>
              </td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-accuracy"
                  id="usefulness-accuracy-Neutral" form="submit-info" value="Neutral" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Neutral</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-accuracy"
                  id="usefulness-accuracy-Somewhat Disagree" form="submit-info" value="Somewhat Disagree"
                  required=""><label class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Somewhat Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-accuracy"
                  id="usefulness-accuracy-Disagree" form="submit-info" value="Disagree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-accuracy"
                  id="usefulness-accuracy-Strongly Disagree" form="submit-info" value="Strongly Disagree"
                  required=""><label class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Strongly Disagree</label></td>
            </tr>
          </tbody>
        </table>
        {% if exp_aism == 1 %}
        <p><b>6. The <i> AI focus </i> helped me in making my diagnoses.<span style="color:red">*</span></b></p>
        <table class="table table-hover table-borderless table-sm">
          <tbody>
            <tr>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-aifocus"
                  id="usefulness-aifocus-Strongly Agree" form="submit-info" value="Strongly Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Strongly Agree</label>
              </td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-aifocus"
                  id="usefulness-aifocus-Agree" form="submit-info" value="Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Agree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-aifocus"
                  id="usefulness-aifocus-Somewhat Agree" form="submit-info" value="Somewhat Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Somewhat Agree</label>
              </td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-aifocus"
                  id="usefulness-aifocus-Neutral" form="submit-info" value="Neutral" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Neutral</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-aifocus"
                  id="usefulness-aifocus-Somewhat Disagree" form="submit-info" value="Somewhat Disagree"
                  required=""><label class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Somewhat Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-aifocus"
                  id="usefulness-aifocus-Disagree" form="submit-info" value="Disagree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-aifocus"
                  id="usefulness-aifocus-Strongly Disagree" form="submit-info" value="Strongly Disagree"
                  required=""><label class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Strongly Disagree</label></td>
            </tr>
          </tbody>
        </table>
        {% endif %}
        {% if exp_aieof == 1 %}
        <p><b>6. The <i> global explanations of failure </i> helped me in making my diagnoses.<span
              style="color:red">*</span></b></p>
        <table class="table table-hover table-borderless table-sm">
          <tbody>
            <tr>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-eof"
                  id="usefulness-eof-Strongly Agree" form="submit-info" value="Strongly Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Strongly Agree</label>
              </td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-eof"
                  id="usefulness-eof-Agree" form="submit-info" value="Agree" required=""><label class="form-check-label"
                  style="font-weight:normal; text-align:center">
                  &nbsp;Agree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-eof"
                  id="usefulness-eof-Somewhat Agree" form="submit-info" value="Somewhat Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Somewhat Agree</label>
              </td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-eof"
                  id="usefulness-eof-Neutral" form="submit-info" value="Neutral" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Neutral</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-eof"
                  id="usefulness-eof-Somewhat Disagree" form="submit-info" value="Somewhat Disagree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Somewhat
                  Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-eof"
                  id="usefulness-eof-Disagree" form="submit-info" value="Disagree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="usefulness-eof"
                  id="usefulness-eof-Strongly Disagree" form="submit-info" value="Strongly Disagree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Strongly
                  Disagree</label></td>
            </tr>
          </tbody>
        </table>
        {% endif %}
        <p><b>Please share examples of when the AI diagnostic tool was <i>most</i> helpful. How did the information
            relate to your decision-making?</b></p><textarea class="form-control" name="usefulness-whenmosthelpful"
          id="usefulness-whenmosthelpful-text" form="submit-info"></textarea>
        <p><b> Please share examples of when the AI diagnostic tool was <i>least</i> helpful. How did the information
            relate to your decision-making?</b></p><textarea class="form-control" name="usefulness-whenleasthelpful"
          id="usefulness-whenleasthelpful-text" form="submit-info"></textarea>
        <div class='top-one'>
          <h5><span class="border border-light bg-light text-dark">&ensp;Trust&ensp;</span></h5>
        </div>
        <p><b> I trusted the AI diagnostic tool when it recommended that a condition was <i>present</i>.<span
              style="color:red">*</span></b></p>
        <table class="table table-hover table-borderless table-sm">
          <tbody>
            <tr>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-whenpresent"
                  id="trust-whenpresent-Strongly Agree" form="submit-info" value="Strongly Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Strongly Agree</label>
              </td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-whenpresent"
                  id="trust-whenpresent-Agree" form="submit-info" value="Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Agree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-whenpresent"
                  id="trust-whenpresent-Somewhat Agree" form="submit-info" value="Somewhat Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Somewhat Agree</label>
              </td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-whenpresent"
                  id="trust-whenpresent-Neutral" form="submit-info" value="Neutral" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Neutral</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-whenpresent"
                  id="trust-whenpresent-Somewhat Disagree" form="submit-info" value="Somewhat Disagree"
                  required=""><label class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Somewhat Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-whenpresent"
                  id="trust-whenpresent-Disagree" form="submit-info" value="Disagree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-whenpresent"
                  id="trust-whenpresent-Strongly Disagree" form="submit-info" value="Strongly Disagree"
                  required=""><label class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Strongly Disagree</label></td>
            </tr>
          </tbody>
        </table>
        <p><b> I trusted the AI diagnostic tool when it recommended that a condition was <i>not present</i>.<span
              style="color:red">*</span></b></p>
        <table class="table table-hover table-borderless table-sm">
          <tbody>
            <tr>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-whennotpresent"
                  id="trust-whennotpresent-Strongly Agree" form="submit-info" value="Strongly Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Strongly Agree</label>
              </td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-whennotpresent"
                  id="trust-whennotpresent-Agree" form="submit-info" value="Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Agree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-whennotpresent"
                  id="trust-whennotpresent-Somewhat Agree" form="submit-info" value="Somewhat Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Somewhat Agree</label>
              </td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-whennotpresent"
                  id="trust-whennotpresent-Neutral" form="submit-info" value="Neutral" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Neutral</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-whennotpresent"
                  id="trust-whennotpresent-Somewhat Disagree" form="submit-info" value="Somewhat Disagree"
                  required=""><label class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Somewhat Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-whennotpresent"
                  id="trust-whennotpresent-Disagree" form="submit-info" value="Disagree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-whennotpresent"
                  id="trust-whennotpresent-Strongly Disagree" form="submit-info" value="Strongly Disagree"
                  required=""><label class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Strongly Disagree</label></td>
            </tr>
          </tbody>
        </table>
        <p><b> How did you make a final decision in cases where you disagreed with the AI diagnostic tool's
            recommendation?</b></p><textarea class="form-control" name="trust-howfinalrec" id="trust-howfinalrec-text"
          form="submit-info"></textarea>
        <div class='top-one'>
          <h5><span class="border border-light bg-light text-dark">&ensp;Types of Errors&ensp;</span></h5>
        </div>
        <p><b> I understand what kind of mistakes the AI diagnostic tool is likely to make.<span
              style="color:red">*</span></b></p>
        <table class="table table-hover table-borderless table-sm">
          <tbody>
            <tr>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-understandmistakes"
                  id="trust-understandmistakes-Strongly Agree" form="submit-info" value="Strongly Agree"
                  required=""><label class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Strongly Agree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-understandmistakes"
                  id="trust-understandmistakes-Agree" form="submit-info" value="Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Agree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-understandmistakes"
                  id="trust-understandmistakes-Somewhat Agree" form="submit-info" value="Somewhat Agree"
                  required=""><label class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Somewhat Agree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-understandmistakes"
                  id="trust-understandmistakes-Neutral" form="submit-info" value="Neutral" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Neutral</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-understandmistakes"
                  id="trust-understandmistakes-Somewhat Disagree" form="submit-info" value="Somewhat Disagree"
                  required=""><label class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Somewhat Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-understandmistakes"
                  id="trust-understandmistakes-Disagree" form="submit-info" value="Disagree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-understandmistakes"
                  id="trust-understandmistakes-Strongly Disagree" form="submit-info" value="Strongly Disagree"
                  required=""><label class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Strongly Disagree</label></td>
            </tr>
          </tbody>
        </table>
        <p><b> What kinds of errors did the AI diagnostic tool make?</b></p><textarea class="form-control"
          name="trust-errorsmade" id="trust-errorsmade-text" form="submit-info"></textarea>
        <p><b>I knew when to trust the AI diagnostic tool's recommendations.<span style="color:red">*</span></b></p>
        <table class="table table-hover table-borderless table-sm">
          <tbody>
            <tr>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-whentrustai"
                  id="trust-whentrustai-Strongly Agree" form="submit-info" value="Strongly Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Strongly Agree</label>
              </td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-whentrustai"
                  id="trust-whentrustai-Agree" form="submit-info" value="Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Agree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-whentrustai"
                  id="trust-whentrustai-Somewhat Agree" form="submit-info" value="Somewhat Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Somewhat Agree</label>
              </td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-whentrustai"
                  id="trust-whentrustai-Neutral" form="submit-info" value="Neutral" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Neutral</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-whentrustai"
                  id="trust-whentrustai-Somewhat Disagree" form="submit-info" value="Somewhat Disagree"
                  required=""><label class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Somewhat Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-whentrustai"
                  id="trust-whentrustai-Disagree" form="submit-info" value="Disagree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="trust-whentrustai"
                  id="trust-whentrustai-Strongly Disagree" form="submit-info" value="Strongly Disagree"
                  required=""><label class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Strongly Disagree</label></td>
            </tr>
          </tbody>
        </table>
        <div class='top-one'>
          <h5><span class="border border-light bg-light text-dark">&ensp;Future use&ensp;</span></h5>
        </div>
        <p><b>I would use an AI diagnostic tool like the one in this study in my daily job.<span
              style="color:red">*</span></b></p>
        <table class="table table-hover table-borderless table-sm">
          <tbody>
            <tr>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="futureuse-daily"
                  id="futureuse-daily-Strongly Agree" form="submit-info" value="Strongly Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Strongly Agree</label>
              </td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="futureuse-daily"
                  id="futureuse-daily-Agree" form="submit-info" value="Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Agree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="futureuse-daily"
                  id="futureuse-daily-Somewhat Agree" form="submit-info" value="Somewhat Agree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Somewhat Agree</label>
              </td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="futureuse-daily"
                  id="futureuse-daily-Neutral" form="submit-info" value="Neutral" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center">
                  &nbsp;Neutral</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="futureuse-daily"
                  id="futureuse-daily-Somewhat Disagree" form="submit-info" value="Somewhat Disagree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Somewhat
                  Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="futureuse-daily"
                  id="futureuse-daily-Disagree" form="submit-info" value="Disagree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Disagree</label></td>
              <td style="text-align:center"><input class="form-check-input" type="radio" name="futureuse-daily"
                  id="futureuse-daily-Strongly Disagree" form="submit-info" value="Strongly Disagree" required=""><label
                  class="form-check-label" style="font-weight:normal; text-align:center"> &nbsp;Strongly
                  Disagree</label></td>
            </tr>
          </tbody>
        </table>
        <p><b>If desired, use this space to elaborate on your response to the previous question.</b></p><textarea
          class="form-control" name="elaborate" id="elaborate-text" form="submit-info"></textarea>
      </div>


      {% if exp_stage >= 8 %}
      <small> Rank the piece of AI information that was most helpful as '<b>First</b>' and the piece of AI information
        that was least helpful as '<b>Last</b>'.<span style="color:red">*</span></small>
      <table class="table table-hover table-sm">
        <tbody>
          <tr>
            <th style="text-align:right">AI Information</th>
            <th style="text-align:center">First</th>
            <th style="text-align:center">Second</th>
            <th style="text-align:center">Last</th>
          </tr>
          <tr style="text-align:right">
            <td><label class="form-check-label" style="font-weight:normal;">
                &nbsp;Confidence</label></td>
            <td style="text-align:center"><input class="form-check-input" type="radio"
                onclick="checkRanking('confidence', 0)" name="rank-usefulness-confidence"
                id="rank-usefulness-confidence-0" form="submit-info" value="first" required>
            </td>
            <td style="text-align:center"><input class="form-check-input" type="radio"
                onclick="checkRanking('confidence', 1)" name="rank-usefulness-confidence"
                id="rank-usefulness-confidence-1" form="submit-info" value="second">
            </td>
            <td style="text-align:center"><input class="form-check-input" type="radio"
                onclick="checkRanking('confidence', 2)" name="rank-usefulness-confidence"
                id="rank-usefulness-confidence-2" form="submit-info" value="third"></td>
          </tr>
          <tr style="text-align:right">
            <td><label class="form-check-label" style="font-weight:normal;">
                &nbsp;AI
                Focus</label></td>
            <td style="text-align:center"><input class="form-check-input" type="radio"
                onclick="checkRanking('aifocus', 0)" name="rank-usefulness-aifocus" id="rank-usefulness-aifocus-0"
                form="submit-info" value="first" required>
            </td>
            <td style="text-align:center"><input class="form-check-input" type="radio"
                onclick="checkRanking('aifocus', 1)" name="rank-usefulness-aifocus" id="rank-usefulness-aifocus-1"
                form="submit-info" value="second"></td>
            <td style="text-align:center"><input class="form-check-input" type="radio"
                onclick="checkRanking('aifocus', 2)" name="rank-usefulness-aifocus" id="rank-usefulness-aifocus-2"
                form="submit-info" value="third"></td>
          </tr>
          <tr style="text-align:right">
            <td><label class="form-check-label" style="font-weight:normal;">
                &nbsp;Global Explanations of Failure</label></td>
            <td style="text-align:center"><input class="form-check-input" type="radio" onclick="checkRanking('eof', 0)"
                name="rank-usefulness-eof" id="rank-usefulness-eof-0" form="submit-info" value="first" required></td>
            <td style="text-align:center"><input class="form-check-input" type="radio" onclick="checkRanking('eof', 1)"
                name="rank-usefulness-eof" id="rank-usefulness-eof-1" form="submit-info" value="second"></td>
            <td style="text-align:center"><input class="form-check-input" type="radio" onclick="checkRanking('eof', 2)"
                name="rank-usefulness-eof" id="rank-usefulness-eof-2" form="submit-info" value="third"></td>
          </tr>
        </tbody>
      </table>
      {% endif %}
    </div>

    <div class='top-one'>
      <form method="POST" id="submit-info" class="d-flex" style='float:right;margin-right:100px'>
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" id='submit-button' value="Conclude stage">
      </form>
    </div>



</body>

<style>
  .top-one {
    margin-top: 1cm;
  }

  .bottom-one {
    margin-bottom: 1cm;
  }
</style>

<script>
  //unchecks other rankings in a given row when a user clicks on a button
  function checkRanking(type, rank) {
    var radios = [document.getElementById('rank-usefulness-confidence-' + rank), document.getElementById(
      'rank-usefulness-aifocus-' + rank), document.getElementById('rank-usefulness-eof-' + rank)];
    let radios_checked = radios.map(function (item) {
      return (item.checked)
    })
    if (radios_checked.filter(Boolean).length > 1) {
      if (type == 'confidence') {
        var uncheck = [1, 2]
      } else if (type == 'aifocus') {
        var uncheck = [0, 2]
      } else {
        var uncheck = [0, 1]
      }
      uncheck.map(function (item) {
        console.log(radios[item]);
        radios[item].checked = false
      })
    }
  }
</script>


</html>